button {
    font-family: 'Patua One', cursive;
    border:1px solid #666;
    margin:1em 0; 
  }
  button:hover {
    cursor:pointer;
  }
  button:disabled{
    opacity:.5;
  }
  button[name="reset"] {
    transition: all 0.5s ease;
    background-color:#eb878b;
  }
  button[name="new"] {
    background-color:#b5d997;
  }